<%= @game.current_player.name %> attacked <%= @game.opponent.name %>

<section>
<%= @game.opponent.name %>: <%= @game.opponent.hit_points %>HP
</section>

<section>
<form action="/switch" method="post">
  <input type="submit" value="OK">
</form>
</section>
