<div class="container">
<form action='/names' method='post'>
<div class="form_label">
  <label for="player_one_name">
    Player 1 name
    <input type="text" name="player_one_name" />
  </label>
</div>
<div class="form_label">
  <label for="player_two_name">
    Player 2 name
  <input type="text" name="player_two_name" />
  </label>
</div>
<div class="buttons">
  <button type="submit"> Submit </button>
  <button type="submit" formaction='/names_computer'> Play with Computer </button>
</div>
</form>
</div>
